body {
width:900px;
margin-left:auto;
margin-right:auto;
}
/*NAV BAR*/
nav {
position:fixed;
color:#FFF;
line-height:30px;
letter-spacing:1px;
width:900px;
}

ul {
background-color:#FFF;
list-style-type:none;
text-align:right;
padding-top:10px;
margin:0;
}

li {
background-color:#FFF;
display:inline;
color:#000;
}

li a {
font-size:20px;
font-family:'Lato', sans-serif;
color:#000;
text-decoration:none;
letter-spacing:1.5px;
padding-left:5px;
}

nav li a:hover {
color:red;
}

/*SIDEBAR*/
.pic_and_title {
position:fixed;
float:left;
width:200px;
margin-left:20px;
}

.pic_and_title h1 {
font-family:'Lato', sans-serif;
margin-left:10px;
}

#avatar {
width:130px;
margin:20px 0 20px 35px;
}

.pic_and_title h1 {
font-size:30px;
font-family:'Lato', sans-serif;
text-align:center;
color:#C7A557;
}

/*POST*/
.story {
margin-top:80px;
margin-bottom:5px;
position:relative;
float:right;
display:inline-block;
width:650px;
vertical-align:top;
background:#F7F7F7;
border-radius:5px;
font-family:'Lato', sans-serif;
padding:10px;
}

.story h1 {
text-align:center;
font-size:30px;
color:#C7A557;
}

.story p {
text-align:justify;
}

/*FOOTER*/
footer {
clear:both;
bottom:0;
margin-bottom:3px;
height:80px;
width:900px;
background:#000;
border-radius:0 0 15px 15px;
}

.icons {
display:inline-block;
width:50px;
height:50px;
margin-top:15px;
}