*{
  font-family: 'Lato', sans-serif; color:black;
}

body {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

/* fixed menu */
nav {
  position:fixed;
  color:white; 
  line-height:30px;
  letter-spacing:1px; 
  width:900px;
}
ul { 
list-style-type:none;
text-align: right; 
margin:0; 
padding-top:10px; 
} 
li { 
display:inline; 
} 

li a{

  font-size: 20px;
  font-family: 'Lato', sans-serif; 
  color:black;
  text-decoration: none;
  letter-spacing:1.5px;
  padding-left: 5px; 
}

li a:hover{
  color: red;
}

/*pic and title section*/

.pic_and_title{
  text-align: center;
  position: relative;
  float: left;
  margin-top: 10px;
}
.pic_and_title h1{
  margin-left: 60px; 
}

#avatar{
  width: 200px;
  margin: 10px 0 0 55px;
}

/*story*/
.story{
  margin-top: 80px;
  margin-bottom: 5px;
  position: relative;
  float: right;
  display: inline-block;
  width: 65%;
  vertical-align: top;
  background: #F7F7F7;
  border-radius: 5px;
  padding: 10px;
}

h1{
  text-align: center;
  font-size: 30px;
}

p{
  text-align: justify;
}

/*Footer*/
footer{
  position:absolute;
  bottom:3px;
  width:900px;
  background: black;
  height: 80px;
  border-radius: 0px 0px 15px 15px;  
}

.icons{
  display:inline-block;
  width: 50px; 
  height: 50px; 
  margin-top: 15px;
}

/* Mobil View*/
@media (max-width: 480px) {

  nav h6{
    display: block;
    text-align: center;
  }      
  nav li{   
    padding:5px;
  }

  .icons{
    width: 40px;
    border-radius: 5px;
    margin-top: 20px;
  }

  footer {
    width: 450px;
    height: 5em;
    margin-left: 0.5em;
  }
}