*{
  font-family: 'Lato', sans-serif; color:black;
}

body {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

/* fixed menu */
nav {
  position:fixed;
  color:white; 
  line-height:30px;
  letter-spacing:1px; 
  width:900px;
}
ul {
  background-color: white; 
  list-style-type:none;
  text-align: right; 
  margin:0; 
  padding-top:10px; 
} 

li {
  background-color: white; 
  display:inline; 
} 

li a{
  font-size: 20px;
  font-family: 'Lato', sans-serif; 
  color:black;
  text-decoration: none;
  letter-spacing:1.5px;
  padding-left: 5px; 
}

nav li a:hover{
  color: red;
}



/*Sidebar*/
.sidebar{
  position: fixed;
  float: left;
  margin-left: 50px
}

#avatar{
  margin: 15px 0 20px 20px;
  width: 130px;
}

.sidebar ul{
  list-style-type:none;
}

.sidebar li{
  text-align: left;
  display: block;
}

.sidebar li a {
    font-size: 18px;
}

/*story*/
.post{
  z-index: -1;
  margin-top: 80px;
  margin-bottom: 10px;
  position: relative;
  float: right;
  width: 65%;
  background: #F7F7F7;
  border-radius: 5px;
  padding: 10px;
}

.post h1{
  color: #C7A557;
}
li a:hover{
  color: #C7A557;
} 


h1{
  text-align: center;
  font-size: 30px;
}

p{
  text-align: justify;
}

/*Footer*/
footer{
  clear:both;
  bottom: 0;
  margin-bottom: 3px;
  height: 80px;
  width:900px;
  background: black;
  border-radius: 0px 0px 15px 15px;  
}

.icons{
  display:inline-block;
  width: 50px; 
  height: 50px; 
  margin-top: 15px;
}

/* Mobil View*/
@media (max-width: 480px) {

  nav h6{
    display: block;
    text-align: center;
  }      
  nav li{   
    padding:5px;
  }

  .icons{
    width: 40px;
    border-radius: 5px;
    margin-top: 20px;
  }

  footer {
    width: 450px;
    height: 5em;
    margin-left: 0.5em;
  }
}