body {
	background-color:white;
}

h1{
	text-align:center;
}

div {
	text-align:center;
	margin:auto;
}

h5 {
	font-size:30px; 
}

.content {
	text-align:center;
	width:400px;
	margin:auto;
	font-family:verdana;
	padding-top:10px;
}

#link {
	text-decoration:none;
	color:#D88A00;
}

#avatar {
	margin-top: -20px;
	width:100px;
}

#icon {
	margin-top: 50px;
	border-radius:100%; 
	border:10px solid black;
}

#ta{
	margin-top: -40px;
}
