<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Seba Belmar - Software Engineer</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/technology-icons.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#skills">Skills</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#recomendations">Recs</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#accomplishments">Accomplishments</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="Sebastian_Belmar_Resume.pdf" download>Resume</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Seba Belmar</h1>
                        <p class="intro-text"></p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <img src="img/avatar.png" class="img-intro img-responsive img-centered" id="bio" alt="Sebastian Belmar">
                <h2>
                  <span><a href="#meModal2" data-toggle="modal">engineer</a></span> |
                  <span><a href="#meModal1" data-toggle="modal">entrepreneur</a></span> |
                  <span><a href="#meModal3" data-toggle="modal">educator</a></span>
                </h2>
                <br><br>
                <p>
                  I have 8 years of experience as an engineer specializing in finance and software development. I've got a huge passion for contributing to projects that are re-shaping the way we interact with each other and consume resources from the planet.
                  <br><br>
                  Over the past few years, I've worked as software engineer at <a href="https://techcrunch.com/2015/02/19/renaissance-learning-acquires-uclass/">UClass</a>, <a href="https://www.renaissance.com/">Renaissance Learning</a>, and as web development instructor at <a href="http://devbootcamp.com/"> Dev Bootcamp</a>, San Francisco.
                  In all of these roles, whiteboarding has always been my favorite way to communicate all kinds of ideas, systems, data flows, and architecture diagrams.
                  <img src="img/white_boarding_DBC_coaching.JPG" class="img-intro-two img-responsive img-centered" id="bio" alt="Sebastian Belmar">
                  In my spare time, I've cofounded an e-commerce startup with my wife- <a href="http://www.masonbottle.com">Mason Bottle</a> provides simple and sustainable products for families.
                </p>
            </div>
        </div>
    </section>


    <!-- Skills Section -->
    <section id="skills" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Technical skills and interests</h2>
                <br><br><br>
            </div>
        </div>

        <div class="row">
            <a href="https://www.javascript.com/"><p class="col-md-4 icon-js" style='font-size:30px;'> Javascript</p></a>
            <a href="https://www.ruby-lang.org/en/"><p class="col-md-4 icon-ruby" style='font-size:30px;'> Ruby</p></a>
            <a href="https://github.com/dotnet/csharplang"><p class="col-md-4 icon-csharp" style='font-size:30px;'> CSharp</p></a>
        </div>
        <div class="row">
            <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3"><p class="col-md-4 icon-css3" style='font-size:30px;'> CSS</p></a>
            <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5"><p class="col-md-4 icon-html5" style='font-size:30px;'> HTML</p></a>
            <a href="https://git-scm.com/"><p class="col-md-4 icon-git-squared" style='font-size:30px;'> git</p></a>
        </div>
        <div class="row">
            <a href="https://www.mongodb.com/"><p class="col-md-4 icon-mongodb" style='font-size:30px;'> MongoDB</p></a>
            <a href="https://www.postgresql.org/"><p class="col-md-4 icon-postgres" style='font-size:30px;'> Postgres</p></a>
            <a href="https://redis.io/"><p class="col-md-4 icon-redis" style='font-size:30px;'> Redis</p></a>
        </div>
        <div class="row">
            <a href="http://rubyonrails.org/"><p class="col-md-4 icon-rails-alt" style='font-size:30px;'> Ruby on Rails</p></a>
            <a href="https://nodejs.org/en/"><p class="col-md-4 icon-nodejs" style='font-size:30px;'> NodeJS</p></a>
            <a href="https://angularjs.org/"><p class="col-md-4 icon-js" style='font-size:30px;'> Angular</p></a>
        </div>
        <div class="row">
            <a href="https://jquery.com/"><p class="col-md-4 icon-jquery" style='font-size:30px;'> jQuery</p></a>
            <a href="https://v4-alpha.getbootstrap.com/"><p class="col-md-4 icon-bootstrap" style='font-size:30px;'> Bootstrap</p></a>
            <a href="https://www.elastic.co/products/elasticsearch"><p class="col-md-4 icon-opensource" style='font-size:30px;'> Elasticsearch</p></a>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <!-- Vue tiles instaces -->
    <div id='projects'>
      <section id="portfolio" class="content-section text-center">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2>Portfolio</h2>
                      <br><br>
                  </div>
              </div>
              <div v-for="set in projectSets()">
                <div class="row">
                  <template v-for="project in set">
                      <div class="col-sm-4 portfolio-item" v-if="project.display">
                          <a v-bind:href="'#' + project.id" class="portfolio-link" data-toggle="modal">
                              <div class="caption">
                                  <div class="caption-content">
                                      <!-- <i class="fa fa-search-plus fa-3x"></i> -->
                                      <div style='margin-top:-1%; font-size:18px; color:white; text-transform:lowercase;'>
                                        <i class="fa fa-cogs" style='padding: 5px;' aria-hidden="true"></i>
                                        <p>{{project.type}}</p>
                                        <i class="fa fa-code" style='padding: 5px;' aria-hidden="true"></i>
                                        <p>{{project.techs}}</p>
                                      </div>
                                  </div>
                              </div>
                              <img v-bind:src="project.tile_img" class="img-responsive portfolio-img" alt="">
                          </a>
                      </div>
                  </template>
                </div>
              </div>
          </div>
      </section>


      <template v-for="project in projects">
        <div class="portfolio-modal modal fade" v-bind:id="project.id" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2 class="black-font">{{project.title}}</h2>
                                <hr class="star-primary">
                                <img v-bind:src="project.hero_img" class="img-responsive img-centered" alt="">
                                <div v-html="project.content">
                                </div>
                                <ul v-if="project.gitub_button" class="list-inline item-details">
                                    <li>
                                        <strong><a v-bind:href="project.url">GitHub</a>
                                        </strong>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </template>
    </div>

  <!-- Recomendations -->
  <section id="recomendations" class="content-section text-center">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>Recommendations</h2>
                  <br><br>
              </div>
          </div>
            <div class="row">
              <div class="card-contneiner">
                <template id="#recommendations" v-for='rec in recs'>
                  <div class="col-sm-4">
                    <div class="card">
                      <div class="header">
                        <img class='card-img' v-bind:src="rec.img">
                        <h1>{{rec.name}}</h1>
                      </div>
                      <div class="title">
                        <p>{{rec.title}}</p>
                      </div>
                      <div class="content">
                        <div class="textarea">{{rec.content}}</div>
                      </div>
                      <a v-bind:href="rec.in_url"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </template>
              </div>
          </div>
      </div>
    </section>

    <!-- Highlights Section -->
    <section id="accomplishments" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Career Accomplishments</h2>
                <br><br><br>

                <ul style="text-align:left;">
                <li><p style="color:rgba(24, 188, 156, 0.67); font-size:21px;">Member of top performing engineering team at largest EdTech company in the world</p></li>
                <li><a href="https://techcrunch.com/2015/02/19/renaissance-learning-acquires-uclass/"><p>Successful EdTech startup exit in less than a year as 2nd engineer in 9 person company - UClass</p></a></li>
                <li><a href="https://www.inc.com/kate-l-harrison/a-brilliant-new-design-turns-any-mason-jar-into-a-baby-bottle.html"><p>E-commerce startup cofounder featured in INC Magazine</p></a></li>
                <li><a href="https://www.kickstarter.com/projects/mason-bottle/the-3-in-1-toddler-tumbler/description"><p>2 successful Kickstarter campaigns. Raised +75k</p></a></li>
                <li><a href="#portfolio"><p>Creator of FinTech calculator used with biggest airline in Latin America</p></a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>I'm ready to join an engineering team working on solutions for BlockChain, FinTech, EdTech, Version Control, or Inspiring Content.</h2>
                <br>
                <p>Looking for a long term role where I can make a sustained impact and keep growing as an engineer.</p>
                <p>Full time, remote positions preferred.</p>
                <p><a href="mailto:si.belmar@gmail.com">si.belmar@gmail.com</a></p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/sebabelmar" class="btn-social"><i class="fa fa-twitter fa-fw"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/sebabelmar" class="btn-social"><i class="fa fa-github fa-fw"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/sebastianbelmar/" class="btn-social"><i class="fa fa-linkedin fa-fw"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/sebabelmarp/" class="btn-social"><i class="fa fa-instagram fa-fw"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Feel free to copy <a href='https://github.com/sebabelmar/sebabelmar.github.io'>&copy;</a> seba belmar 2017 | powered by <a href='https://vuejs.org/'>vue.js</a></p>
        </div>
    </footer>

    <!-- VUE MODALS -->
    <!-- Vue experience Instance-->
    <div id="experience">
      <template v-for="experience in experiences">
        <div class="portfolio-modal modal fade" v-bind:id="experience.id" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2 class="black-font">{{experience.title}}</h2>
                                <hr class="star-primary">
                                <img v-bind:src="experience.picture" class="img-responsive img-centered" alt="">
                                <div v-html="experience.content" class="black-font">
                                </div>
                                <ul class="list-inline item-details">
                                    <li>
                                        <strong><a href="https://www.masonbottle.com">Mason Bottle</a>
                                        </strong>
                                    </li>
                                    <li>
                                        <strong><a href="https://github.com/sebabelmar">GitHub</a>
                                        </strong>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </template>
    </div>


    <!-- Vue.js -->
    <script src="https://unpkg.com/vue"></script>

    <!-- jQuery Version 1.11.0 -->
    <script src="js/app/app.js"></script>

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

</body>

</html>
