@media (max-width: 480px) {
/* define mobile specific styles come here */
/*NAVBAR*/
nav {
width:450px;
}

nav ul{
text-align:center;
}

/*SIDEBAR*/
.sidebar{
position:relative;
float:center;
width:480px;
margin:90px 0 0 0;
z-index: -1;
}

#avatar{
width:130px;
margin:20px 0 20px 180px;
}

.sidebar li {
text-align:center;
}

.sidebar li a {
font-size:20px;
}

/*POST*/
#post{
  position:relative;
  float:center;
  width:428px;
  margin: 20px 5px 10px 5px;
}

/*FOOTER*/
footer {
margin: 0px 5px 10px 5px;  
height:50px;
width:450px;
}

.icons {
display:inline;
width:10px;
}

}